.product__rating {
  display: flex;
}
.text-xl {
  font-size: xx-large;
}
.recipe {
  display: inline-flex;
  justify-content: space-evenly;
}
.priceandbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.addtocart {
  padding-bottom: 10px;
}
